body {
    background-image: linear-gradient(grey 25%, rgb(87, 87, 87) 50%, black 100%);
}

h1 {
    text-align: center;
}


#sad,
#worthy,
#kermi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

#kermi {
    -webkit-clip-path: url(#kermit);
    clip-path: url(#kermit);
}

#kerm {
    color: darkgrey;
}




/* image to small... svg {
    height: 200px;
    width: 200px;
}

path {
    fill: url(#kerm-image);
}*/
